.main {
  padding: 1.5rem;
  background-color: hsl(var(--white));
}

.body {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

.title {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 1;
  color: hsl(var(--dark-slate-grey));
}

.email {
  font-weight: 700;
}
