:root {
  --tomato: 4, 100%, 67%;
  --dark-slate-grey: 234, 29%, 20%;
  --charcoal-grey: 235, 18%, 26%;
  --grey: 231, 7%, 60%;
  --white: 0, 0%, 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 375px;
  margin-inline: auto;
  width: 100%;
  background-color: hsl(var(--charcoal-grey));
  font-size: 1rem;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}
